<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
	<extensions>
		<add assembly="NLog.Targets.ElasticSearch"></add>
	</extensions>
	<targets>
		<target name="elastic" xsi:type="BufferingWrapper" flushTimeout="5000">
			<target xsi:type="ElasticSearch" 
					uri="${configsetting:item=ElasticUrl}" 
					index="Development"/>
		</target>
	</targets>
	<rules>
		<!--All logs, including from Microsoft-->
		<!--<logger name="*" minlevel="Trace" writeTo="allfile" ></logger>
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" ></logger>
    <logger name="*" minlevel="Trace" writeTo="database" ></logger>-->
		<logger name="*" minlevel="Trace" writeTo="elastic" ></logger>
	</rules>
</nlog>